@import url("main.css");

h1 {
	font-weight: bold;
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.cv p, .cv ul, .cv ul li {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1em;
}